<div class="home">
  <app-card
  cover="assets\HogwartsLegacyDigitalDeluxeEdition.jpg"
  gameType="DIGITAL | PS5"
  price="R$ 299,99"
  ></app-card>

  <app-card
  cover="assets\God_of_War_Ragnarök_capa.jpg"
  game="assets\PSNPLUS.png"
  gameType="DIGITAL | PS4 & PS5"
  price="R$ 199,99"
  ></app-card>

  <app-card
  cover="assets\eaSport.jpg"
  gameType="DIGITAL | NEW | PS5"
  price="R$ 399,99"
  ></app-card>

  <app-card
  cover="assets\Uncharted_4_capa.png"
  game="assets\PSNPLUS.png"
  gameType="DIGITAL | PS4 & PS5"
  price="R$ 99,99"
  ></app-card>
</div>
